* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pixeboy-z8XGD';
    src: url('pixeboy-font/Pixeboy-z8XGD.ttf');
}

header {
    top: 0;
    width: 100vw;
    background-color: rgb(49, 48, 48);
    position: fixed;
}

#content {
    margin-top: 50px;
    padding: 16px;
}

#navbar {
    font-family: 'Pixeboy-z8XGD';
    background-color: rgb(49, 48, 48);
    color: yellow;
}

#navbar ul {
    overflow: auto;
    overflow: hidden;
}

#navbar li {
    float: left;
    list-style: none;
    margin: 15px 3px;

}

#navbar li a {
    color: yellow;
    padding: 10px 36px;
    text-decoration: none;
    border-left: 3px solid transparent;
    
    box-shadow: -2px 0 0 0 black,
        2px 0 0 0 black,
        0 -2px 0 0 black,
        0 2px 0 0 black;

    border-right: 4px solid rgb(18, 18, 18);
    border-top: 4px solid rgb(69, 67, 67);
    border-bottom: 4px solid rgb(18, 18, 18);
}

#navbar a:hover {

    background-color: rgb(29, 25, 25);
    color: yellow;
    text-shadow: 1px 1px 20px rgb(255, 255, 0);

}

#navbar a:active {
    border-left: 3px solid rgb(255, 255, 165);
    background-color: rgb(29, 25, 25);

    border-right: 4px solid  rgb(29, 25, 25);
    border-top: 4px solid  rgb(29, 25, 25);
    border-bottom: 4px solid  rgb(29, 25, 25);

}